-==p
-.p==20.2.3
-ip==20.2.3
-p==20.2.3
aiohttp==3.6.3
arrow==0.17.0
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
Cybernator==0.6.2
discord==1.0.1
discord.py==1.5.1
dnslib==0.9.14
dnspython==2.0.0
dnspython3==1.15.0
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.10.20
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
isort==5.6.4
Jinja2==2.11.2
lavalink==3.1.2
lazy-object-proxy==1.4.3
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
mcstatus==4.0.0
more-itertools==8.5.0
mss==6.0.0
multidict==4.7.6
neko==0.0.11
numpy==1.19.4
pafy==0.5.5
pi==0.1.2
Pillow==8.0.1
pip==20.2.3
psutil==5.7.3
psycopg2==2.8.6
pyasn1==0.4.8
pycparser==2.20
pylint==2.6.0
pymongo==3.11.0
PyNaCl==1.4.0
pypiwin32==223
pypresence==4.0.0
python-dateutil==2.8.1
python-frontmatter==0.5.0
PythonDNS==0.1
pytube==10.0.0
pywin32==300
PyYAML==5.3.1
pyzbar==0.1.8
qrcode==6.1
requests==2.24.0
rfc3986==1.4.0
rsa==4.6
selenium==3.141.0
setuptools==49.2.1
six==1.15.0
sniffio==1.2.0
soupsieve==2.0.1
threaded==4.0.8
times==0.7
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.25.11
vk-api==11.9.1
wavelink==0.9.6
wikipedia==1.4.0
win10toast==0.9
wrapt==1.12.1
yarl==1.5.1
youtube-dl==2020.11.24